<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MTLChrisLEE</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Oswald|Barlow|Fjalla+One" rel="stylesheet">
    <link rel="stylesheet" href="home.css">
</head>
<body>
<nav class="mynavbar navbar navbar-default  navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home">MTLChrisLEE</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/aboutme">About Me</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Log In<i class="fa fa-user-plus"></i></a></li>
                <li><a href="/">Contact <i class="fa fa-user"></i></a></li>
            </ul>
        </div>
    </div>
</nav>

