<% include partials/header.ejs %>

    <div class="jumbotron">
        <h1>Hello World!!!</h1>
        <p>This is my website. I will share my portfolios, what I've learned and other fun stuff</p>
        <br>
        <a href="/aboutme" class="btn btn-info btn-lg" role="button">About Me</a>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="/web">
            <div class="thumbnail">
                <img src="web.jpg">
                <div class="caption">
                    <h4> HTML/CSS/JS/NodeJS</h4>
                </div>
            </div>
        </a>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="/python">
            <div class="thumbnail">
                <img src="python-logo-3.6.jpg">
                <div class="caption">
                    <h4> Python</h4>
                </div>
            </div>
        </a>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="/java">
            <div class="thumbnail">
                <img src="java.jpg">
                <div class="caption">
                    <h4> Java </h4>
                </div>
            </div>
        </a>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="/datascience">
            <div class="thumbnail">
                <img src="bigdata_Fotolia_41468665_small.jpg">
                <div class="caption">
                    <h4> Data Science</h4>
                </div>
            </div>
        </a>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="operatingsystem">
            <div class="thumbnail">
                <img src="OSOS.jpg">
                <div class="caption">
                    <h4>Operating System</h4>
                </div>
            </div>
        </a>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="thumbnail">
            <img src="coming-soon.png">
            <div class="caption">
                <h4>Coming Soon</h4>
            </div>
        </div>
    </div>


</div>


</body>
</html>