<% include partials/header.ejs %>

    <div class="jumbotron">
        <h1>Hello World!!!</h1>
        <p>This is my website. I will share my portfolios, what I've learned and other fun stuff</p>
        <br>
        <a href="/aboutme" class="btn btn-info btn-lg" role="button">About Me</a>
    </div>

<div>
    <% subjects.forEach(function(subject){ %>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="/<%= subject.name %>">
            <div class="thumbnail">
                <img src="<%= subject.image %>">
                <div class="caption">
                    <h4> <%= subject.name.toUpperCase() %></h4>
                </div>
            </div>
        </a>
    </div>
    <% }) %>
</div>


    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="thumbnail">
            <img src="coming-soon.png">
            <div class="caption">
                <h4>Coming Soon</h4>
            </div>
        </div>
    </div>


</div>


</body>
</html>