<% include partials/header.ejs%>
<div class="container">
    <div id="inputform">
        <form action="/<%=subject.name%>/courses" method="POST">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" id="title" name="courses[title]" placeholder="Title" style="width:600px">
            </div>

            <div class="form-group">
                <div id="wmd-button-bar"></div>
                <textarea id="wmd-input" name="courses[content]" class="wmd-input"></textarea>
            </div>

            <div class="form-group">
                <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
            </div>

            <input class="btn btn-primary btn-md" type="submit">

        </form>
    </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Converter.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Editor.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Sanitizer.js"></script>

<script>
    var converter = Markdown.getSanitizingConverter();
    var editor = new Markdown.Editor(converter);
    editor.run();
</script>


<% include partials/footer.ejs%>