<% include partials/header.ejs%>
<div class="container">
<div class="intro">
    <h1 id="subject"><%= subjects.name.toUpperCase()%></h1>
    <h3 id="quote"><%= subjects.quote%></h3>
    <p id="author" style="display: inline-block"><%=subjects.author%></p>
    <button class="addbutton btn btn-default btn-primary">Add a course</button>
    <hr size="20">
    <br>
</div>
<% include partials/footer.ejs%>