<% include partials/header.ejs%>

<div class="jumbotron">
    <h1 id="subject"><%= subject.subject.toUpperCase()%></h1>
    <p id="quote"><%= subject.quote%></p>
    <p id="author"><%=subject.author%></p>
</div>

</div>
</body>
</html>