<% include partials/header.ejs%>

<div class="jumbotron">
    <h1 id="subject"><%= subjects.name.toUpperCase()%></h1>
    <p id="quote"><%= subjects.quote%></p>
    <p id="author"><%=subjects.author%></p>
</div>

</div>
</body>
</html>