<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MTLChrisLEE</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Merriweather+Sans" rel="stylesheet">
    <link rel="stylesheet" href="welcomepage.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div id="content">
                <h1>MTLChrisLEE</h1>
                <h4>Courses, Portfolios and Fun</h4>
                <hr>
                <br>
                <a class="btn btn-xlg btn-default" role="button" href="/home">{EXPLORE}</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>