<% include partials/header.ejs%>

<div class="intro">
    <h1 id="subject" style="font-size: 40px; color: red">OOPS!!!!!</h1>
    <h3 id="quote">Why are you here?</h3>
    <p id="author"></p>
    <hr size="20">
    <br>
</div>
<% include partials/footer.ejs%>